body {
    background-color: gray;
}

.wrapper {
    max-width: 1024px;
    min-width: 680px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 30px lightgrey;
}

header {
    font-size: 25px;
}

.nav li {
    margin-left: 20px;
    display: inline-flex;

}

.container {
    display: flex;
    justify-content: space-evenly;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1,
h2 {
    text-transform: uppercase;

}

h1 {
    color: black;
}

h2 {
    font-size: 25px;
    color: black;
}

section {
    border-bottom: 1px solid black;

    margin: 10;
}

.contacts {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: 30px;
}

.contacts img {
    border-radius: 70%;

}

.menu-avatar {
    text-align: center;
}